<div class="container">
  <div class="row mx-3 mt-3">

    <div class="col-2"></div>
    <div class="form-check col-5">
      <input
        #alone
        mdbRadio
        class="my_radio"
        type="radio"
        name="payment"
        id="alone"
        [checked]="true"
        (click)="changeToAlone()"
      />
      <label class="form-check-label" for="alone"> Pay alone </label>
    </div>
    <div class="form-check col-5">
      <input
        #split
        mdbRadio
        class="my_radio"
        type="radio"
        name="payment"
        id="split_fare"
        (click)="changeToSplit()"
        [disabled]="passengers.length == 1 && passengers[0] == ''"
      />
      <label class="form-check-label" for="split_fare"> Split fare </label>
    </div>

  </div>

  <div [hidden]="!aloneCheck">
    <div class="input-group flex-nowrap  my-5 w-50" style="margin-left: 25%">
      <span class="input-group-text" id="start"><em class="fa fa-dollar " ></em></span>
      <input [(ngModel)]="price" type="number" class="form-control form-control-lg bg-dark text-white" aria-label="price" style="font-size: 18px" readonly/>
    </div>
  </div>

  <div [hidden]="aloneCheck" class="my-4">
    <div class="row align-items-center">
      <div class="col-6 h-50 " style="text-align: right;font-size: 18px"><span>You</span></div>
      <div class="input-group flex-nowrap col-6 my-2 w-50" >
        <span class="input-group-text"><em class="fa fa-dollar " ></em></span>
        <input [value]="sumPrice()" id="user" type="number" class="form-control form-control-lg bg-dark text-white" aria-label="price" style="font-size: 18px" readonly/>
      </div>
    </div>

    <div *ngIf="passengers[0] != ''" >
      <div *ngFor="let passenger of passengers;let i = index" class="row align-items-center" >
        <div class="col-6 h-50 " style="text-align: right;font-size: 18px"><span>{{passenger}}</span></div>
          <div class="input-group flex-nowrap col-6 my-2 w-50">
            <span class="input-group-text"><em class="fa fa-dollar " ></em></span>
            <input [value]="sumPrice()" id="user_{{i}}" type="number" class="form-control form-control-lg bg-dark text-white" aria-label="price" style="font-size: 18px" readonly/>
          </div>
      </div>
    </div>
  </div>



  <div class="buttons row">
    <div class="button col-9">
      <button class="btn btn-success btn-rounded previous" cdkStepperPrevious>Previous</button>
    </div>
    <div class="button col-3">
      <button class="btn btn-success btn-rounded" (click)="finishRideChoice()" cdkStepperNext>Finish</button>
    </div>
  </div>

</div>
