<div class="modal-mask ">
  <div class="modal-wrapper">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase">Ride details</h5>
          <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
            <span (click)="closeStepperModal()" aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <ng-stepper #cdkStepper [linear]="true">
            <cdk-step [optional]="false" [stepControl]="stepOne.stepOneForm">
              <ng-template cdkStepLabel>
                <div class="step-bullet">1</div>
                <div class="step-title">Car type</div>
              </ng-template>
              <app-step-one #stepOne [distance]="distance"></app-step-one>
            </cdk-step>

            <cdk-step [optional]="false" [stepControl]="stepTwo.stepTwoForm">
              <ng-template cdkStepLabel>
                <div class="step-bullet">2</div>
                <div class="step-title">Passengers</div>
              </ng-template>
              <app-step-two #stepTwo></app-step-two>
            </cdk-step>

            <cdk-step [optional]="true" [stepControl]="stepThree.stepThreeForm">
              <ng-template cdkStepLabel>
                <div class="step-bullet">3</div>
                <div class="step-title">Payment</div>
              </ng-template>
              <app-step-three #stepThree (finish)="finish($event)"
                              (reserve)="reserve($event)"
                              [passengers]="stepTwo.passengers"
                              [price]="stepOne.price"></app-step-three>
            </cdk-step>

          </ng-stepper>

        </div>
      </div>
    </div>
  </div>
</div>
