.list-group-item.active{
  border-left: 4px solid green;
}
.list-group-item{
  background: #181818;
  color: white;
  border-bottom-color: #181818;
}

.accordion-button{
  background: #181818;
  color: white;
}

.route_type{
  font-size: 15px;
  color: darkgray;
}

.accordion{
  padding-right: 40px;
}

.time{
  color: limegreen;
}
