<div class="accordion pt-2 pb-4" id="accordionFlushExample">
  <div *ngFor="let p of positions; let i = index;" class="accordion-item border-dark bg-dark">
    <section *ngIf="positions.length-1 !== positions.indexOf(p)">
      <h2 [attr.id]="'flush-headingOne' + i" class="accordion-header">
        <button [attr.aria-controls]="'flush-collapseOne' + i" [attr.data-bs-target]="'#flush-collapseOne' + i"
                aria-expanded="false"
                class="accordion-button collapsed" data-bs-toggle="collapse" type="button">
          {{p}} - {{positions[positions.indexOf(p) + 1]}}
        </button>
      </h2>
      <div [attr.aria-labelledby]="'flush-headingOne' + i" [attr.id]="'flush-collapseOne' + i"
           class="accordion-collapse collapse"
           data-bs-parent="#accordionFlushExample">
        <div class="accordion-body px-0 py-1">
          <div class="list-group list-group-light">
            <a (click)="selectRoute(i, 'recommended')" [class.active]="chosen[i] === 'recommended'"
               class="list-group-item list-group-item-action px-3 pt-2 rounded-3 mb-2 list-group-item-dark "
               href="javascript:void(0)"
               id="route_1">
              <div class="h-50">
                <div class="row">
                  <span class="col-8">Recommended</span>
                  <span class="col-4 time">{{routes[i][0].duration}} min</span>
                </div>
                <div class="row">
                  <span class="col-8 route_type">Recommended route</span>
                  <span class="col-4">{{routes[i][0].distance}} km</span>
                </div>
              </div>

            </a>
            <a (click)="selectRoute(i, 'fastest')" [class.active]="chosen[i] === 'fastest'"
               class="list-group-item list-group-item-action px-3 rounded-3 mb-2 list-group-item-dark"
               href="javascript:void(0)"
               id="route_2">
              <div class="h-50">
                <div class="row">
                  <span class="col-8">Fastest</span>
                  <span class="col-4 time">{{routes[i][1].duration}} min</span>
                </div>
                <div class="row">
                  <span class="col-8 route_type">Fastest route</span>
                  <span class="col-4">{{routes[i][1].distance}} km</span>
                </div>
              </div>
            </a>
            <a (click)="selectRoute(i, 'shortest')" [class.active]="chosen[i] === 'shortest'"
               class="list-group-item list-group-item-action px-3 rounded-3 mb-2 list-group-item-dark"
               href="javascript:void(0)"
               id="route_3">
              <div class="h-50">
                <div class="row">
                  <span class="col-8">Shortest</span>
                  <span class="col-4 time">{{routes[i][2].duration}} min</span>
                </div>
                <div class="row">
                  <span class="col-8 route_type">Shortest route</span>
                  <span class="col-4">{{routes[i][2].distance}} km</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
