<section>
  <div class="modal-mask ">
    <div class="modal-wrapper">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">Leave report</h5>
            <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button" (click)="close()">
              <span  aria-hidden="true" class="text-white">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="max-height: 300px">
            <strong style="font-style: italic;">Driver:</strong>
            <span class="tab" >Pera Peric</span><br>
            <strong style="font-style: italic;">Route:</strong>
            <span class="tab">Trebinje - Beograd</span><br><br>
            <mdb-form-control class="mb-4 form-white">
              <textarea [(ngModel)]="comment" class="form-control form-control-lg text-light"
                        id="typeEmailX" mdbInput
                        placeholder="Write a comment" type="text"></textarea>
              <label class="form-label text-light" for="typeEmailX" mdbLabel>Write a comment</label>
            </mdb-form-control>
          </div>
          <div class="modal-footer row">
            <button (click)="save()" class="btn btn-rounded btn-sm fw-bold btn-success col-2" type="button" style="margin-right: 30px" >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
