<section class="vh-80 min-vh-100 hero-main">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class=" bg-dark text-white" style="border-radius: 1rem;">

          <div class="card-body px-5 py-3 text-center">

            <div class="mb-md-3 mt-md-4 ">

              <h2 class="fw-bold mb-2 text-uppercase">Password reset</h2>
              <p class="text-white-50 mb-5">Please enter your new password.</p>


              <mdb-form-control class="form-white mb-4">
                <input #password="ngModel" [(ngModel)]="newPassword" class="form-control form-control-lg text-light"
                       id="typePasswordX" mdbInput
                       mdbValidate placeholder="new password" required
                       type="password"/>
                <label class="form-label" for="typePasswordX" mdbLabel>New password</label>
                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-1">Password is
                  required
                </mdb-error>
              </mdb-form-control>


              <mdb-form-control class="form-white mb-6">
                <input #repassword="ngModel" [(ngModel)]="confirmPassword"
                       [validateSuccess]="newPassword === confirmPassword"
                       class="form-control form-control-lg text-light"
                       id="reenterPasswordX" mdbInput
                       mdbValidate
                       placeholder="reenter password"
                       type="password"/>
                <label class="form-label" for="reenterPasswordX" mdbLabel>Reenter password</label>
                <mdb-error *ngIf="(newPassword !== confirmPassword) && (repassword.dirty || repassword.touched)"
                           class="mt-1">
                  Passwords must be the same
                </mdb-error>
              </mdb-form-control>

              <button (click)="resetPassword()" class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
