<section>
  <div class="modal-mask ">
    <div class="modal-wrapper">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">Change password</h5>
            <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
              <span (click)="close()" aria-hidden="true" class="text-white">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="mb-4">
              <mdb-form-control class="form-white">
                <input mdbInput mdbValidate #oldPassInput class="form-control form-control-lg text-light"
                       placeholder="old password" id="old_pass"
                       required type="password">
                <label mdbLabel class="form-label text-light" for="old_pass">Old password</label>
              </mdb-form-control>
            </div>

            <div class="pb-4">
              <mdb-form-control class="form-white">
                <input  [(ngModel)]="newPass" #password="ngModel" class="form-control form-control-lg text-light" mdbInput placeholder="new password"
                        required type="password">
                <label mdbLabel class="form-label text-light">New password:</label>
                <mdb-error class="mt-1" *ngIf="password.invalid && (password.dirty || password.touched)">Password is required</mdb-error>
              </mdb-form-control>
            </div>

            <mdb-form-control class="form-white">
              <input [(ngModel)]="reenteredPass" #repassword="ngModel" class="form-control form-control-lg text-light" mdbInput
                     placeholder="reenter new password"
                     required type="password">
              <label mdbLabel class="form-label text-light">Re-enter new password:</label>
              <mdb-error class="mt-1" *ngIf="(newPass !== reenteredPass) && (repassword.dirty || repassword.touched)">Passwords must be same</mdb-error>
            </mdb-form-control>
          </div>
          <div class="modal-footer">
            <button (click)="close()" class="btn btn-outline-light" type="button">CLOSE
            </button>
            <button (click)="changePassword()" class="btn btn-outline-light" type="button">
              Change
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
