<div class="container">
  <form #formRef="ngForm"
        (ngSubmit)="stepOneSubmit()"
        [formGroup]="stepOneForm"
        autocomplete="off"
        novalidate>

    <div class="list-group list-group-light pt-3 pb-3">
      <a (click)="selectCar(type)" *ngFor="let type of carTypes" [class.active]="active === type.type"
         class="list-group-item list-group-item-action px-3 pt-2 rounded-3 mb-2 list-group-item-dark"
         href="javascript:void(0)"
         id="{{type.type}}">
        <div class="row align-items-center">
          <div class="col-3">
            <img alt="" class="rounded-1" src="../../../../../assets/{{type.photo}}"
                 style="height: 45px"/>
          </div>
          <span class="col-5" style="font-size: 18px;padding-left: 20px">{{type.type}}</span>
          <span class="col-2" style="margin-left: -30px"><em class="fa fa-user"></em> {{type.personNum}}</span>
          <span class="col-2" style="font-size: 18px;margin-left: 20px">$ {{type.price}}</span>
        </div>
      </a>


    </div>

    <div class="row pb-3">
      <div class="form-check col-6">
        <input
          (click)="petsCheckbox = !petsCheckbox"
          class="green-check"
          id="pets"
          mdbCheckbox
          type="checkbox"
          value=""
        />
        <label class="form-check-label" for="pets">
          Riding with pets
        </label>
      </div>

      <div class="form-check col-6">
        <input
          (click)="babiesCheckbox = !babiesCheckbox"
          class="green-check"
          id="babies"
          mdbCheckbox
          type="checkbox"
          value=""
        />
        <label class="form-check-label" for="babies">
          Riding with babies
        </label>
      </div>
    </div>

    <div class="button" style="float: right">
      <button (click)="findDriver()" cdkStepperNext class="btn btn-success btn-rounded" type="submit">Next</button>
    </div>

  </form>
</div>
