.input-group input:focus {
  box-shadow: 0 1px 1px green inset, 0 0 5px green;
  border-color: forestgreen;
}

.button_row {
  padding-left: 55%;
}

.inputs {
  padding-left: 40px;
}

.points {
  padding-right: 40px;
}


.close_x {
  padding-left: 10px;
}

.my_radio {
  accent-color: limegreen;
  margin-right: 8px;
  transform: scale(1.5);
}


#sidebar {
  height: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}
