<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <span class="navbar-brand" href="#">Uber app</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="home-nav" href="/home">Home</a>
      </li>
      <li *ngIf="role === 'ROLE_client'" class="nav-item">
        <a class="nav-link" id="profile-nav-link" href="/clientProfile">Profile</a>
      </li>
      <li *ngIf="role === 'ROLE_client'" class="nav-item">
        <a class="nav-link" href="/purchaseTokens">Tokens </a>
      </li>
      <li *ngIf="role === 'ROLE_admin'" class="nav-item">
        <a class="nav-link" href="/adminProfile">Profile </a>
      </li>
      <li *ngIf="role === 'ROLE_driver'" class="nav-item">
        <a class="nav-link" href="/driverProfile">Profile </a>
      </li>
      <li *ngIf="role === 'ROLE_admin'" class="nav-item">
        <a class="nav-link" href="/messages">Messages </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="role === 'ROLE_client'" href="/clientHistory">History </a>
        <a class="nav-link" *ngIf="role === 'ROLE_driver'" href="/driverHistory">History </a>
        <a class="nav-link" *ngIf="role === 'ROLE_admin'" href="/adminHistory">History </a>
      </li>
      <li *ngIf="role === 'ROLE_admin'" class="nav-item">
        <a class="nav-link" href="/reviewDriverChanges">Review changes </a>
      </li>
      <li *ngIf="role === 'ROLE_admin'" class="nav-item">
        <a class="nav-link" href="/blockUsers">Block users</a>
      </li>
      <li *ngIf="role === 'ROLE_admin'" class="nav-item">
        <a class="nav-link" href="/addDriver">Add driver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="role === 'ROLE_client'" href="/clientReport">Report </a>
        <a class="nav-link" *ngIf="role === 'ROLE_driver'" href="/driverReport">Report </a>
        <a class="nav-link" *ngIf="role === 'ROLE_admin'" href="/adminReport">Report </a>
      </li>
    </ul>
    <span class="navbar-text">
     <a href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</nav>
