<section class="vh-80 min-vh-100 hero-main">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="mb-4 col-2">
          <div class="form-floating form-white">
            <select #sortBy (change)="onChangeSort(sortBy.value)" class="form-select form-control bg-dark text-light" id="role" required>
              <option value="Date">Date</option>
              <option value="Price">Price</option>
              <option value="Route">Route</option>
            </select>
            <label mdbLabel class="form-label text-light" for="role">Sort by</label>
          </div>
        </div>
        <app-drive-history-table (openModal)="openModal($event)" [drives]="drives"></app-drive-history-table>
      </div>
      <app-drive-details-modal [drive]="drive" (closeModal)="showModal=false" *ngIf="showModal"></app-drive-details-modal>
    </div>
  </div>
</section>
