<section class="vh-80 min-vh-100 hero-main" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center " >
      <div class="col-12 col-md-10 col-lg-7 ">
        <div class=" bg-dark text-white" style="border-radius: 1rem;" >
          <div class="card-body px-5 py-3 text-center">

            <div class="mb-md-3 mt-md-4 ">

              <h2 class="fw-bold mb-5 text-uppercase">Registration</h2>

              <app-input-user-info [user]="user" (registerClick)="register()"></app-input-user-info>


            </div>

            <div>
              <p class="mb-2">You have an account? <a href="/" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
