<div class="container">
  <div class="row mx-3 mt-3">

    <div class="col-2"></div>
    <div class="form-check col-5">
      <input
        #alone
        (click)="changeToAlone()"
        [checked]="true"
        class="my_radio"
        id="alone"
        mdbRadio
        name="payment"
        type="radio"
      />
      <label class="form-check-label" for="alone"> Pay alone </label>
    </div>
    <div class="form-check col-5">
      <input
        #split
        (click)="changeToSplit()"
        [disabled]="passengers.length === 1 && passengers[0] === ''"
        class="my_radio"
        id="split_fare"
        mdbRadio
        name="payment"
        type="radio"
      />
      <label class="form-check-label" for="split_fare"> Split fare </label>
    </div>

  </div>

  <div [hidden]="!aloneCheck">
    <div class="input-group flex-nowrap  my-5 w-50" style="margin-left: 25%">
      <span class="input-group-text" id="start"><em class="fa fa-dollar "></em></span>
      <input [(ngModel)]="price" aria-label="price" class="form-control form-control-lg bg-dark text-white"
             readonly style="font-size: 18px" type="number"/>
    </div>
  </div>

  <div [hidden]="aloneCheck" class="my-4">
    <div class="row align-items-center">
      <div class="col-6 h-50 " style="text-align: right;font-size: 18px"><span>You</span></div>
      <div class="input-group flex-nowrap col-6 my-2 w-50">
        <span class="input-group-text"><em class="fa fa-dollar "></em></span>
        <input [value]="sumPrice()" aria-label="price" class="form-control form-control-lg bg-dark text-white" id="user"
               readonly style="font-size: 18px" type="number"/>
      </div>
    </div>

    <div *ngIf="passengers[0] !== ''">
      <div *ngFor="let passenger of passengers;let i = index" class="row align-items-center">
        <div class="col-6 h-50 " style="text-align: right;font-size: 18px"><span>{{passenger}}</span></div>
        <div class="input-group flex-nowrap col-6 my-2 w-50">
          <span class="input-group-text"><em class="fa fa-dollar "></em></span>
          <input [value]="sumPrice()" aria-label="price" class="form-control form-control-lg bg-dark text-white"
                 id="user_{{i}}" readonly style="font-size: 18px"
                 type="number"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-4">
    <div class="form-check col-10">
      <input
        #favourite
        [(ngModel)]="isFavourite"
        [checked]="false"
        class="my_radio"
        id="favourite"
        mdbRadio
        name="favourite"
        type="checkbox"
      />
      <label class="form-check-label" for="favourite"> Save as a favourite route </label>
    </div>
  </div>

  <div class="buttons row">
    <div class="button col-6">
      <button cdkStepperPrevious class="btn btn-success btn-rounded previous">Previous</button>
    </div>
    <div class="button col-3">
      <button (click)="reservation()" cdkStepperNext class="btn btn-success btn-rounded">Reserve</button>
    </div>
    <div class="button col-3">
      <button (click)="finishRideChoice()" cdkStepperNext class="btn btn-success btn-rounded">Finish</button>
    </div>
  </div>

  <div *ngIf="isReservation" class="buttons row mt-4">
    <div class="col-5 mt-1">
      <label for="time">Reservation time</label>
    </div>
    <div class="col-5">
      <input [(ngModel)]="reservationTime" class="form-control" id="time" type="time"/>
    </div>
    <div class="button ms-auto col-2">
      <button (click)="reserveRide()" [disabled]="isReservationDisabled()" class="btn btn-success btn-rounded">End
      </button>
    </div>
  </div>

</div>
