<div>
  <table class="table bg-white table-hover " style="border-radius: .5rem;font-size: 18px">
    <thead class="table-dark">
    <tr>
      <th scope="col">Route</th>
      <th scope="col">Price</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let drive of drives;let i = index">
      <td>{{drive.routes[0].start.address}} - {{drive.routes[drive.routes.length - 1].end.address}}</td>
      <td>{{drive.price}}$</td>
      <td>
        <button
          (click)="goToClient(drive)"
          *ngIf="drive.startTime === null && drive.status === 'SCHEDULED'"
          [disabled]="drive.id !== firstDrive"
          [id]="'goTo'+i" class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" type="button">
          Go to client
        </button>
        <button
          (click)="openRejectModalFunc(drive)"
          *ngIf="drive.startTime === null"
          [id]="'reject'+i"
          class="btn btn-rounded btn-sm fw-bold btn-success" style="font-size: 15px;margin-left: 20px"
          type="button">
          Reject
        </button>
        <button
          (click)="start(drive)"
          *ngIf="drive.status === 'GOING_TO_CLIENT'"
          [id]="'start'+i"
          class="btn btn-rounded btn-sm fw-bold btn-success" style="font-size: 15px;margin-left: 20px" type="button">
          Start
        </button>
        <button
          (click)="stop(drive)"
          *ngIf="drive.status === 'IN_PROGRESS'"
          [id]="'stop'+i"
          class="btn btn-rounded btn-sm fw-bold btn-success" style="font-size: 15px;margin-left: 20px" type="button">
          Stop
        </button>
        <button
          (click)="finish(drive)"
          *ngIf="drive.status === 'IN_PROGRESS'"
          [id]="'finish'+i"
          class="btn btn-rounded btn-sm fw-bold btn-success" style="font-size: 15px;margin-left: 20px" type="button">
          Finish
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

