<div>
  <table class="table bg-white table-hover " style="border-radius: .5rem;font-size: 18px">
    <thead class="table-dark">
    <tr>
      <th scope="col">Route</th>
      <th scope="col">Price</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let drive of drives;let i = index">
      <td>{{drive.routes[0].start.address}} - {{drive.routes[drives.length-1].end.address}}</td>
      <td>{{drive.price}}$</td>
      <td>
        <button
          type="button"
          class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" *ngIf="drive.startTime === null && drive.status === 'SCHEDULED'" [disabled]="drive.id !== firstDrive" (click)="goToClient(drive)">
          Go to client
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" *ngIf="drive.startTime === null" (click)="openRejectModalFunc(drive)">
          Reject
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" *ngIf="drive.status === 'GOING_TO_CLIENT'" (click)="start(drive)">
          Start
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" *ngIf="drive.status === 'IN_PROGRESS'" (click)="stop(drive)">
          Stop
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-sm fw-bold btn-success"
          style="font-size: 15px;margin-left: 20px" *ngIf="drive.status === 'IN_PROGRESS'" (click)="finish(drive)">
          Finish
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

