<section>
  <div class="modal-mask ">
    <div class="modal-wrapper">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">Enter rejection reason</h5>
            <button aria-label="Close" class="close bg-dark" data-dismiss="modal" (click)="close()" type="button">
              <span (click)="close()" aria-hidden="true" class="text-white">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="mb-4">
              <mdb-form-control class="form-white">
                <textarea mdbInput mdbValidate [(ngModel)]="reason" class="form-control form-control-lg text-light"
                       placeholder="Rejection reason" id="old_pass"
                          required type="text"></textarea>
                <label mdbLabel class="form-label text-light" for="old_pass">Enter rejection reason</label>
              </mdb-form-control>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="close()" class="btn btn-outline-light" type="button">CLOSE
            </button>
            <button (click)="reject()" class="btn btn-outline-light" type="button">
              Reject
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
