<div class="container">
  <h5 class="text-center mt-4 mb-3">Riding with anyone?</h5>

  <div class="inputs mb-4">
    <div class="row">
      <mdb-form-control class="form-white col-8 mt-2" style="height: 50px">
        <input #email="ngModel" [(ngModel)]="passengerInput" class="form-control form-control-lg text-light"
               email id="userInput" mdbInput mdbValidate
               name="userInput" placeholder="name@example.com" type="email"/>
        <label class="form-label text-light" for="userInput" mdbLabel>name@example.com</label>
        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-1">Email is not in valid form
        </mdb-error>
      </mdb-form-control>
      <button (click)="addUser()" class="btn btn-success btn-rounded col-3 m-lg-3 mt-0"><em
        class="fa fa-plus-circle"></em><span
        class="px-2">Add</span></button>
    </div>


    <div *ngFor="let passenger of passengers; let i = index; trackBy:trackByIndex;" class="row">
      <div style="width: 400px; overflow: hidden">
        <span>{{passenger}}</span>
      </div>

      <a (click)="removeUser(i)" class="close_x col-1 ms-auto" href="javascript:void(0)"><span class=""><em
        class="fa fa-close fa-lg" style="color: darkred"></em></span></a>
    </div>


  </div>


  <div class="buttons row">
    <div class="button col-9">
      <button cdkStepperPrevious class="btn btn-success btn-rounded previous">Previous</button>
    </div>
    <div class="button col-3">
      <button [disabled]="isNextDisabled()" cdkStepperNext class="btn btn-success btn-rounded">Next</button>
    </div>
  </div>
</div>
