<div class="container">
  <h5 class="text-center mt-4 mb-3">Riding with anyone?</h5>

  <div class="inputs mb-4">
    <div *ngFor="let passenger of passengers; let i = index;trackBy:trackByIndex;" class="row">
      <mdb-form-control class="form-white mb-4 col-11">
        <input #email="ngModel" [(ngModel)]="passengers[i]" class="form-control form-control-lg text-light"
               email id="user_{{i}}" mdbInput mdbValidate
               name="user_{{i}}" placeholder="name@example.com" type="email"/>
        <label class="form-label text-light" for="user_{{i}}" mdbLabel>name@example.com</label>
        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-1">Email is not in valid form
        </mdb-error>
      </mdb-form-control>
      <a (click)="removeUser(i)" *ngIf="i !== 0" class="close_x col-1" href="javascript:void(0)"><span class=""><em
        class="fa fa-close fa-lg" style="color: darkred"></em></span></a>
    </div>

    <a (click)="addUser()" class="link-light" href="javascript:void(0)">
      <em class="fa fa-plus-circle"></em>
      <span class="px-2">Add user</span>
    </a>
  </div>


  <div class="buttons row">
    <div class="button col-9">
      <button cdkStepperPrevious class="btn btn-success btn-rounded previous">Previous</button>
    </div>
    <div class="button col-3">
      <button [disabled]="isNextDisabled()" cdkStepperNext class="btn btn-success btn-rounded">Next</button>
    </div>
  </div>
</div>
