<div class="modal-mask ">
  <div class="modal-wrapper">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase">Drive details</h5>
          <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
            <span (click)="closeDetailsModal()" aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-5">
              <div *ngIf="role === 'ROLE_client'">
                <div class="img_cont">
                  <img [src]="srcData" class="rounded-circle user_img">
                </div>
                <div class="text-center">
                  <h5 class="pt-3" style="padding-bottom: 0">{{drive.driver.name}} {{drive.driver.surname}}</h5>
                  <p class="pt-0">Driver</p>
                </div>
              </div>

              <div>
                <div *ngIf="role === 'ROLE_admin'">
                  <strong>Driver: </strong><span class="pt-3" style="padding-bottom: 0">{{drive.driver.name}} {{drive.driver.surname}}</span>
                </div>
                <div class="row" *ngIf="role === 'ROLE_admin' || role === 'ROLE_driver'">
                  <div class="col-4" >
                    <strong>Passengers: </strong>
                  </div>
                  <div class="col-8 px-1">
                    <ul>
                      <li *ngFor="let a of drive.passengers">{{a.name}} {{a.surname}}</li>
                    </ul>
                  </div>

                </div>

              </div>


              <div class="row pt-3 pb-1">
                <span class="col-6" style="padding-right: 0">Driver grade: </span><star-rating class="col-5" [rating]="driverGrade"></star-rating>
              </div>
              <div class="row">
                <span class="col-6" style="padding-right: 0">Car grade: </span><star-rating class="col-5" [rating]="carGrade"></star-rating>
              </div>
            </div>

            <div class="col-7 " style="height: 250px;">
              <app-map></app-map>
            </div>
          </div>
        </div>
        <div *ngIf="role === 'ROLE_client'" class="modal-footer justify-content-start">
          <button
            type="button"
            class="btn btn-rounded btn-sm fw-bold btn-success"
            style="font-size: 14px">
            Ride again
          </button>
          <div style="padding-left: 15px">
            <button
              type="button"
              class="btn btn-rounded btn-sm fw-bold btn-success"
              style="font-size: 14px;">
              Reserve
            </button>
          </div>
          <div *ngIf="rateDrive" style="padding-left: 40%" >
            <button
              type="button"
              class="btn btn-rounded btn-sm fw-bold btn-success"
              style="font-size: 14px;">
              Rate drive
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
