<section class=" py-lg-3" id="client_profile" style="background-image:url(assets/background.jpg) ">
  <div class="row py-5 px-auto" style="align-content: center">
    <div class="col-md-8 mx-auto">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover bg-dark">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3 pt-5 pb-4 mb-4" style="position: relative">
              <img [src]="srcData" alt="Image">
              <em (click)="changeProfilePhoto()" class='fa fa-camera'></em>
              <input #changePhotoButton (change)="addAttachment($event)" accept="image/png, image/gif, image/jpeg"
                     class="form-control" hidden
                     id="image_input" type="file"/>
            </div>
          </div>
          <div class="pb-4 pt-4">
            <h4 class="mt-2 mb-2 mw-2 " style="color: white; float:left; padding-left: 5px">
              <strong><span>{{client.name}} </span> <span> {{client.surname}}</span></strong></h4>
            <div>
              <button (click)="showModal = true" class="btn btn-primary profile_rose_button" type="button">Change
                password
              </button>
            </div>
          </div>
        </div>

        <div class="container rounded mt-1 bg-dark">
          <div class="row">
            <div style="background-color: grey; padding: 50px 120px">
              <div class="p-3 py-3">
                <h5 class="text-right">Personal data</h5>

                <div class="row mt-2">
                  <div class="col-md-6 inputs"><label class="labels">Name</label><input [(ngModel)]="client.name"
                                                                                        [readonly]="isReadonly"
                                                                                        class="form-control"
                                                                                        placeholder="first name"
                                                                                        type="text"></div>
                  <div class="col-md-6 inputs"><label class="labels">Surname</label><input [(ngModel)]="client.surname"
                                                                                           [readonly]="isReadonly"
                                                                                           class="form-control"
                                                                                           placeholder="last name"
                                                                                           type="text">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6 inputs"><label class="labels">Email</label><input [(ngModel)]="client.email"
                                                                                         [readonly]="isReadonly"
                                                                                         class="form-control"
                                                                                         id="email"
                                                                                         placeholder="email"
                                                                                         type="text"></div>
                  <div class="col-md-6 inputs"><label class="labels">Phone number</label><input
                    [(ngModel)]="client.phoneNumber"
                    [readonly]="isReadonly"
                    class="form-control"
                    placeholder="phone number"
                    type="text">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 inputs"><label class="labels">City</label><input [(ngModel)]="client.city"
                                                                                         [readonly]="isReadonly"
                                                                                         class="form-control"
                                                                                         placeholder="city"
                                                                                         type="text"></div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 inputs"><label class="labels">Paypal info</label><input
                    [(ngModel)]="client.cardNumber"
                    [readonly]="isReadonly"
                    class="form-control"
                    placeholder="credit card"
                    type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mt-3 text-right">
                    <button #editButton (click)="edit()" class="btn btn-primary bg-dark "
                            style="float: right;padding: 7px 25px 7px 25px" type="button">Edit
                    </button>
                  </div>
                </div>

                <div class="row mt-4 mb-3" hidden id="change_pass">
                  <div class="col-md-6 inputs"><label class="labels">Current password</label><input class="form-control"
                                                                                                    id="current"
                                                                                                    placeholder="current password"
                                                                                                    type="password">
                  </div>
                  <div class="col-6"></div>
                  <div class="col-md-6 inputs"><label class="labels">New password</label><input class="form-control"
                                                                                                id="new_pass"
                                                                                                placeholder="new password"
                                                                                                type="password">
                  </div>
                  <div class="col-6"></div>
                  <div class="col-md-6 inputs"><label class="labels">Re-enter new password</label><input
                    class="form-control"
                    placeholder="re-enter new password"
                    type="password">
                  </div>
                  <div class="col-6"></div>
                  <div class="col-2 mt-3 text-right">
                    <button class="btn btn-primary edit-button" id="editButton" type="button">save</button>
                  </div>
                </div>
              </div>


            </div>

            <ng-container *ngIf="showModal">
              <div class="modal-mask ">
                <div class="modal-wrapper">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Change password</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                          <span (click)="showModal = false" aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <mdb-form-control>
                          <label class="labels">Old password:</label>
                          <input #oldPassInput class="form-control inputField" mdbInput placeholder="old password"
                                 required type="text">
                        </mdb-form-control>
                        <mdb-form-control>
                          <label class="labels">New password:</label>
                          <input #newPassInput class="form-control inputField" mdbInput placeholder="new password"
                                 required type="text">
                        </mdb-form-control>
                        <mdb-form-control>
                          <label class="labels">Re-enter new password:</label>
                          <input #reenterNewPassInput class="form-control inputField" mdbInput
                                 placeholder="reenter new password"
                                 required type="text">
                        </mdb-form-control>
                      </div>
                      <div class="modal-footer">
                        <button (click)="showModal = false" class="btn btn-secondary bg-dark" type="button">CLOSE
                        </button>
                        <button (click)="changePassword()" class="btn btn-primary edit-button bg-dark" type="button">
                          Change
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
