.hero-main {
  background-attachment: fixed;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.863),
    rgba(0, 0, 0, 0.582),
    rgba(0, 0, 0, 0.075)
  ),
  url('/assets/a5.jpg');
  background-size: cover;
  overflow: hidden;
}

.btn:hover{
  color: black;
  background: white;
}

.modal-title {
  margin: auto;
  font-weight: bold;
  font-size: 25px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}


.labels {
  font-family: "Harlow Solid Italic", serif;
  font-weight: bold;
}

.inputField {
  background-color: lightgray;
}

.profile {
  transition: transform .3s;
}

.profile img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

.fa-camera {
  position: relative;
  color: black;
  background: white;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
  top: 40px;
}

.modal-header{
  border: 2px solid #282828;
}

.modal-footer{
  border: 2px solid #282828;
}
