<section class="vh-80 min-vh-100 hero-main">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center bg-dark text-white"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <div class="profile mb-4 mt-5" >
                <img [src]="srcData" alt="Image" class="img-fluid">
                <em (click)="changeProfilePhoto()" class='fa fa-camera '></em>
                <input #changePhotoButton (change)="addAttachment($event)" accept="image/png, image/gif, image/jpeg"
                       class="form-control" hidden
                       id="image_input" type="file"/>
              </div>
              <h5>{{client.name}} {{client.surname}}</h5>
              <p>{{client.role}}</p>
            </div>
            <div class="col-md-8 ">
              <div class="card-body p-3 ">
                  <div class="row">
                    <div>
                      <div class="p-3 py-3">
                        <h5 class="text-right">Personal data</h5>
                        <hr class="mt-0 mb-4">
                        <div class="row mt-2 pb-3">
                          <div class="col-md-6">
                          <mdb-form-control>
                            <input mdbValidate mdbInput [(ngModel)]="client.name" [readonly]="isReadonly" [validate]="!isReadonly"  #firstName="ngModel" type="text" id="firstName" class="form-control form-control-lg" placeholder="first name" required/>
                            <label mdbLabel class="form-label" for="firstName">First Name</label>
                            <mdb-error class="mt-1" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">First name is required</mdb-error>
                          </mdb-form-control>
                          </div>

                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbValidate mdbInput [(ngModel)]="client.surname" [readonly]="isReadonly" [validate]="!isReadonly"  #lastName="ngModel" type="text" id="lastName" class="form-control form-control-lg" placeholder="last name" required/>
                              <label mdbLabel class="form-label" for="lastName">Last Name</label>
                              <mdb-error class="mt-1" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Last name is required</mdb-error>
                            </mdb-form-control>
                          </div>

                        </div>
                        <div class="row mt-2 pb-3">
                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbValidate mdbInput [(ngModel)]="client.email" #email="ngModel" [readonly]="isReadonly" [validate]="!isReadonly"
                                     type="email" email id="emailAddress" class="form-control form-control-lg" placeholder="name@example.com" required/>
                              <label mdbLabel class="form-label" for="emailAddress">Email</label>
                              <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <mdb-error class="mt-1" *ngIf="email.errors['required']">Email is required</mdb-error>
                                <mdb-error class="mt-1" *ngIf="email.errors['email']">Email is not in valid form</mdb-error>
                              </div>
                            </mdb-form-control>
                          </div>

                          <div class="col-md-6">
                            <mdb-form-control>
                              <input mdbValidate mdbInput [(ngModel)]="client.phoneNumber" #phone="ngModel" type="text" id="phoneNumber" [readonly]="isReadonly" [validate]="!isReadonly"
                                     class="form-control form-control-lg" placeholder="phone number" pattern="^(\+)?\d{8}\d+$"  required/>
                              <label mdbLabel class="form-label" for="phoneNumber">Phone Number</label>
                              <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                                <mdb-error class="mt-1" *ngIf="phone.errors['required']">Phone number is required</mdb-error>
                                <mdb-error class="mt-1" *ngIf="phone.errors['pattern']">Phone number requires min 9 digits</mdb-error>
                              </div>
                            </mdb-form-control>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-12 pb-3">
                            <mdb-form-control>
                              <input mdbValidate mdbInput [(ngModel)]="client.city" #city="ngModel" type="text" id="city" [readonly]="isReadonly" [validate]="!isReadonly"
                                     class="form-control form-control-lg" placeholder="city" required/>
                              <label mdbLabel class="form-label" for="city">City</label>
                              <mdb-error class="mt-1" *ngIf="city.invalid && (city.dirty || city.touched)">City is required</mdb-error>
                            </mdb-form-control>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-12 pb-3">
                            <mdb-form-control>
                              <input mdbValidate mdbInput [(ngModel)]="client.cardNumber" #card="ngModel" type="text" id="cardNum" [readonly]="isReadonly" [validate]="!isReadonly"
                                     class="form-control form-control-lg" placeholder="card number" required/>
                              <label mdbLabel class="form-label" for="cardNum">Card number</label>
                              <mdb-error class="mt-1" *ngIf="card.invalid && (card.dirty || card.touched)">Card number is required</mdb-error>
                            </mdb-form-control>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-3 text-right">
                            <button #editButton (click)="edit()" class="btn btn-primary bg-dark"
                                    style="float: right" type="button">Edit
                            </button>
                            <button (click)="showModal = true" class="btn btn-primary bg-dark" type="button">Change
                              password
                            </button>
                          </div>
                        </div>

                      </div>


                    </div>

                    <ng-container *ngIf="showModal">
                      <div class="modal-mask ">
                        <div class="modal-wrapper">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content bg-dark text-white">
                              <div class="modal-header">
                                <h5 class="modal-title text-uppercase">Change password</h5>
                                <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
                                  <span (click)="showModal = false" aria-hidden="true" class="text-white">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">

                                <div class="mb-4">
                                  <mdb-form-control class="form-white">
                                    <input mdbInput mdbValidate #oldPassInput class="form-control form-control-lg text-light"
                                           placeholder="old password" id="old_pass"
                                           required type="password">
                                    <label mdbLabel class="form-label text-light" for="old_pass">Old password</label>
                                  </mdb-form-control>
                                </div>

                                <div class="pb-4">
                                <mdb-form-control class="form-white">
                                  <input  [(ngModel)]="newPass" #password="ngModel" class="form-control form-control-lg text-light" mdbInput placeholder="new password"
                                         required type="password">
                                  <label mdbLabel class="form-label text-light">New password:</label>
                                  <mdb-error class="mt-1" *ngIf="password.invalid && (password.dirty || password.touched)">Password is required</mdb-error>
                                </mdb-form-control>
                                </div>

                                <mdb-form-control class="form-white">
                                  <input [(ngModel)]="reenteredPass" #repassword="ngModel" class="form-control form-control-lg text-light" mdbInput
                                         placeholder="reenter new password"
                                         required type="password">
                                  <label mdbLabel class="form-label text-light">Re-enter new password:</label>
                                  <mdb-error class="mt-1" *ngIf="(newPass !== reenteredPass) && (repassword.dirty || repassword.touched)">Passwords must be same</mdb-error>
                                </mdb-form-control>
                              </div>
                              <div class="modal-footer">
                                <button (click)="showModal = false" class="btn btn-outline-light" type="button">CLOSE
                                </button>
                                <button (click)="changePassword()" class="btn btn-outline-light" type="button">
                                  Change
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

