<section class="vh-90 min-vh-100 hero-main">
      <div class="modal-dialog" style="margin-top: 100px" >
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="text-uppercase" style="margin: auto;font-weight: bolder">Leave report</h5>
          </div>
          <div class="modal-body" style="max-height: 300px">
            <strong style="font-style: italic;">Driver:</strong>
            <span class="tab" >{{drive.driver.name}} {{drive.driver.surname}}</span><br>
            <strong style="font-style: italic;">Route:</strong>
            <span class="tab">{{drive.routes[0].start.address}} - {{drive.routes[drive.routes.length-1].end.address}}</span><br><br>
              <label class="form-label text-light" for="typeEmailX" mdbLabel>Write a comment: </label>
              <textarea [(ngModel)]="comment" class="form-control form-control-lg"
                        id="typeEmailX" mdbInput
                        placeholder="Write a comment" type="text" style="margin-bottom: 20px" ></textarea>
            <div class="modal-footer row">
              <button (click)="save()" class="btn btn-rounded fw-bold btn-success col-2" type="button" style="margin-right: 30px" >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
</section>
