<div class="accordion pt-2 pb-4"  id="accordionFlushExample" >
  <div class="accordion-item border-dark bg-dark" >
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Strazilovska - Puskinova
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body px-0 py-1">
        <div class="list-group list-group-light" >
          <a href="javascript:void(0)" (click)="selectRoute('route_1')" id="route_1" class="list-group-item list-group-item-action px-3 pt-2 rounded-3 mb-2 list-group-item-dark " [class.active]="active == 'route_1'">
            <div class="h-50">
              <div class="row">
                <span class="col-8">Preko Puskinove</span>
                <span class="col-4 time">20 min</span>
              </div>
              <div class="row">
                <span class="col-8 route_type">Fastest route</span>
                <span class="col-4">15 km</span>
              </div>
            </div>

          </a>
          <a href="javascript:void(0)"(click)="selectRoute('route_2')" id="route_2" class="list-group-item list-group-item-action px-3 rounded-3 mb-2 list-group-item-dark" [class.active]="active == 'route_2'">
            <div class="h-50">
              <div class="row">
                <span class="col-8">Preko Limanskog</span>
                <span class="col-4 time">25 min</span>
              </div>
              <div class="row">
                <span class="col-8 route_type">Shortest route</span>
                <span class="col-4">13 km</span>
              </div>
            </div>
          </a>
          <a href="javascript:void(0)" (click)="selectRoute('route_3')" id="route_3" class="list-group-item list-group-item-action px-3 rounded-3 mb-2 list-group-item-dark" [class.active]="active == 'route_3'">
            <div class="h-50">
              <div class="row">
                <span class="col-8">Preko groblja</span>
                <span class="col-4 time">30 min</span>
              </div>
              <div class="row">
                <span class="col-8 route_type">Recommended</span>
                <span class="col-4">20 km</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item border-dark bg-dark text-white">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Puskinova - Doza Djerdja
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Isto ono.</div>
    </div>
  </div>
</div>
