@import '../node_modules/leaflet/dist/leaflet.css';
@import '~css-star-rating/css/star-rating.css';

body {
  font-family: Century Gothic, sans-serif;
  overflow: hidden;

}

.swal2-container {
  z-index: 20000 !important;
}
