<section class="vh-80 min-vh-100 hero-main">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div *ngIf="isLoggedIn === false" class=" bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body px-5 py-3 text-center">

            <div class="mb-md-3 mt-md-4 ">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your email and password!</p>


              <mdb-form-control class="mb-4 form-white">
                <input #email="ngModel" (keyup.enter)="login()" [(ngModel)]="userInfo.username" class="form-control form-control-lg text-light"
                       id="email" mdbInput mdbValidate
                       placeholder="name@example.com" required type="email" email/>
                <label class="form-label text-light" for="email" mdbLabel>name@example.com</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)" class="mt-1" id="username-error-msg">Email is required</mdb-error>
              </mdb-form-control>

              <mdb-form-control class="mb-3 form-white">
                <input #password="ngModel" (keyup.enter)="login()" [(ngModel)]="userInfo.password" class="form-control form-control-lg text-light"
                       id="pass" mdbInput mdbValidate
                       placeholder="password" required type="password"/>
                <label class="form-label " for="pass" mdbLabel>password</label>
                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)" class="mt-1">Password is required</mdb-error>
              </mdb-form-control>

              <p class="small mb-3 pb-lg-2"><a (click)="openMailModal()" class="text-white-50" href="#!">Forgot
                password?</a></p>

              <button id="loginButton" (click)="login()" [disabled]="password.invalid || email.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1 ">
                <a (click)="loginWithFacebook()" class="text-white" href="#"><em
                  class="fa fa-facebook-square fa-2x px-2"></em></a>
                <asl-google-signin-button (click)="loginWithGoogle()" class="px-2"></asl-google-signin-button>
              </div>

            </div>

            <div>
              <p class="mb-2">Don't have an account? <a class="text-white-50 fw-bold" href="/register">Sign Up</a>
              </p>
            </div>

          </div>
        </div>

        <div *ngIf="isLoggedIn === true && isRegistered === false">
          <app-login-social [socialUser]="socialUser"></app-login-social>
        </div>

      </div>
    </div>
  </div>
</section>

