<div class=" bg-dark text-white" style="border-radius: 1rem;">
  <div class="card-body px-5 py-3 text-center">
    <div class="mb-md-3 mt-md-4 ">
      <h4 class="mb-2">Hi {{socialUser.name}}!</h4>
      <p class="text-white-50 mb-4">There are only a few more steps left...</p>
      <div class="mb-4 pb-2">
        <mdb-form-control class="form-white ">
          <input mdbValidate mdbInput [(ngModel)]="user.city" #city="ngModel" type="text" id="city" class="form-control form-control-lg text-light" placeholder="city" required/>
          <label mdbLabel class="form-label" for="city">City</label>
          <mdb-error class="mt-1" *ngIf="city.invalid && (city.dirty || city.touched)">City is required</mdb-error>
        </mdb-form-control>
      </div>

      <div class=" mb-4 pb-2">
        <mdb-form-control class="form-white">
          <input mdbValidate mdbInput [(ngModel)]="user.phoneNumber" #phone="ngModel" type="text" id="phoneNumber"
                 class="form-control form-control-lg text-light" placeholder="phone number" pattern="^(\+)?\d{8}\d+$"  required/>
          <label mdbLabel class="form-label" for="phoneNumber">Phone Number</label>
          <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
            <mdb-error class="mt-1" *ngIf="phone.errors['required']">Phone number is required</mdb-error>
            <mdb-error class="mt-1" *ngIf="phone.errors['pattern']">Phone number requires min 9 digits</mdb-error>
          </div>
        </mdb-form-control>
      </div>

      <div class="mb-4" >
        <mdb-form-control class="form-white">
          <input mdbValidate mdbInput [(ngModel)]="user.cardNumber" #card="ngModel" type="password" id="cardNum" class="form-control form-control-lg text-light" placeholder="card number" required/>
          <label mdbLabel class="form-label" for="cardNum">Card number</label>
          <mdb-error class="mt-1" *ngIf="card.invalid && (card.dirty || card.touched)">Card number is required</mdb-error>
        </mdb-form-control>
      </div>


      <button class="btn btn-outline-light btn-lg px-5" (click)="login()" type="submit">Login</button>
    </div>
  </div>
</div>
