<section>
  <div class="row">

    <div class="col-3">
      <app-side-bar (changeRouteType)="changeRouteType($event)" (openModal)="setShowModalToTrue()"
                    (showPositions)="showPositions($event)"></app-side-bar>
    </div>

    <div class="col-9">
      <app-route-map></app-route-map>
    </div>

    <div *ngIf="loggedUserRole !== 'ROLE_admin'">
      <app-live-chat></app-live-chat>
    </div>


    <div *ngIf="showModal">
      <app-stepper-modal (closeModal)="setShowModalToFalse()"></app-stepper-modal>
    </div>

  </div>
</section>
