<section>
  <div class="row">

    <div class="col-3" style="padding: 0;">
      <app-side-bar (changeRouteType)="changeRouteType($event)" (openModal)="setShowModalToTrue()"
                    (showFavourites)="showFavourites($event)"
                    (showPositions)="showPositions($event)"></app-side-bar>
    </div>

    <div class="col-9" style="padding: 0">
      <app-route-map></app-route-map>
    </div>

    <div *ngIf="loggedUserRole !== 'ROLE_admin'">
      <app-live-chat></app-live-chat>
    </div>


    <div *ngIf="showModal">
      <app-stepper-modal (closeModal)="setShowModalToFalse()" (finishOrder)="finish($event)"
                         [distance]="distance"></app-stepper-modal>
    </div>

    <div *ngIf="showFavouriteRoutes">
      <app-favourite-modal (closeFavourite)="closeFavourites()"></app-favourite-modal>
    </div>

  </div>
</section>
